
body{

    margin: 0%;
    padding: 0%;

}
canvas {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.table_rows{

    display: table;
    width: 100%;
    margin-top: 4%;

}
.box{

    width: 450px;
    padding: 45px;
    padding-bottom: 0%;
    border-radius: 30%;
    font-family: 'Do Hyeon', sans-serif;
    display: table-cell;
    text-align: center;

}
.box-img{

    border-radius: 50%;
    width: 150px;
    height: 190px;

}
.box h1{

    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 300;
    color: aliceblue;

}
.box h5{

    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 300;
    color: rgb(238, 238, 238);

}
ul{

    margin: 0;
    padding: 0;

}
.box li{

    display: inline-block;
    margin:  6px;
    list-style: none;

}
.box li a .fa.fa-linkedin{

    color: rgb(242, 245, 247);
    text-decoration: none;
    font-size: 50px;
    -webkit-transition: 1s ease-out;
    -moz-transition:  1s ease-out;
    transition:  1s ease-out;
    
}
.box li a .fa.fa-linkedin:hover{

    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);

}
.box li a .fa.fa-file-text{

    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
    -webkit-transition: 1s ease-out;
    -moz-transition:  1s ease-out;
    transition:  1s ease-out;
    
}
.box li a .fa.fa-file-text:hover{

    font-size: 60px;

}
.box li a .fa.fa-envelope{

    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
    -webkit-transition: 1s ease-out;
    -moz-transition:  1s ease-out;
    transition:  1s ease-out;
    
}
.box li a .fa.fa-envelope:hover{

    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);

}
.Experience_projects_col{

    width: 450px;
    background: rgba(205, 198, 230, 0.377);
    padding: 50px;
    padding-bottom: 0%;
    border-radius: 15%;
    font-family: 'Do Hyeon', sans-serif;
    display: table-cell;

}
.Experience_projects_col h5{

    position: relative;
    bottom: 130px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    color: aliceblue;
    padding: 0;
    margin: 0%;

}
.Intership_expreience p a{

    position: relative;
    bottom: 130px;
    font-size: 25px;
    font-weight: 10;
    color: rgba(240, 248, 255, 0.493);

}
.Microprocessor_project p a{

    position: relative;
    bottom: 130px;
    font-size: 25px;
    font-weight: 10;
    color: rgba(240, 248, 255, 0.493);

}
.Banker_project p a{

    position: relative;
    bottom: 130px;
    font-size: 25px;
    font-weight: 10;
    color: rgba(240, 248, 255, 0.493);

}
.Experience_projects_col p a{

    position: relative;
    bottom: 130px;
    font-size: 25px;
    font-weight: 10;
    color: rgba(240, 248, 255, 0.493);

}